body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A594F9;
  box-sizing: border-box;
  color: hsl(198, 1%, 29%);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 130%;
}

main {
  padding: 3rem;
  flex: 1 0 auto;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;  background: #F1F5F8;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-size: 50px 50px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  box-sizing: border-box;
  padding: 1rem;
  margin: auto;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #CDC1FF;
  font-size: 1.7rem;
}

.form input {
  font-weight: 500;
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #CDC1FF;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding-left: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  background-color: #CDC1FF;
  color: #505050;
}

button span {
  background: #F1F5F8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

button span:hover {
  background: #CDC1FF;
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

p {
  margin: 5px;
}

footer {
  background-color: black;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  color: #505050;
  text-align: center;
  padding: 5px 0;
  margin-top: 3.5rem;
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 1rem;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .form input {
    width: 90%;
    font-size: 1rem;
  }

  button span {
    padding: 0.5rem 1rem;
  }

  footer {
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0.5rem;
  }

  main {
    padding: 2rem;
  }

  .heading h1 {
    font-size: 1.8rem;
  }

  .form input {
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
  }

  button {

  }

  button span {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 13px;
  }
}
